bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.sqlite*
.idea/
*.env*
.aspire
temp/
OpenTelemetry/loki/config
!OpenTelemetry/loki/config/local-config.yaml
Cardpecker.Api/dotMemoryclt
publish
Cardpecker.Api/dotMemoryclt.zip